* {
  margin: 0%;
  padding: 0%;
  text-align: center;
}
h1 {
  background-color: #132a13;
  color: #fff;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
.choice {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice :hover {
  cursor: pointer;
  background-color: #081310;
}
img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#user_score,
#comp_score,
#draw_score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 5rem;
}
#msg {
  background-color: #081310;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
#new-game {
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}
